body {
  margin:40px auto;
  max-width:700px;
  padding:0 10px;
  line-height:1.6;
  font-size:16px;
  font-family: Helvetica, Verdana;
  color: #222222;
}

nav {
  text-align: right;
  padding: 10px;
}

nav a {
  font-size: 18px;
  margin-left: 15px;
}

main {
  height: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  word-wrap: break-word;
  padding: 15px 0;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  margin: 0px;
  font-weight: bold;
}

h3 {
  margin-top: 30px;
  margin-bottom: -10px;
}

.subtitle {
  color: #757575;
  font-weight: normal;
  margin-top: 5px;
}

h1 a, h1 a:visited {
  color: inherit;
  text-decoration: none;
}

a, a:visited {
 color: #0000ee;
}

pre {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;
}

.post-title {
  padding-left: 15px;
}

footer {
  text-align: center;
}

table, th, td {
  border: 1px solid #222222;
  border-collapse: collapse;
  padding: 7.5px;
  text-align: left;
}

th { 
  background-color: #eeeeee;
}

img {
  width: 100%;
}

blockquote {
  color: #666;
  padding-left: 20px;
  border-left: 3px solid #ccc;
}

code:not([class]) {
  padding: 1px;
  background: #e4e4e4;
}

@media screen and (max-width: 600px) {
  li {
    display: flex;
    flex-direction: column;
  }
  li date {
    display: list-item;
  }
  .post-title {
    padding-left: 0;
  }
}

