---
title: Page Not Found!
permalink: 404.html
---
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url  }}">
    <style>
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      #that {
        position: absolute;
        bottom: 0;
        right: 10;
      }
    </style>
  </head>
  <body>
    <div class="404-container">
      <h1>404: Page Not Found!</h1> 
      <p> The page you are looking for does not exist. Perhaps it's 
      <a href="/">here?</a>
      </p>
    </div>
    <small><a id="that" href="https://www.youtube.com/watch?v=HIcSWuKMwOw">Ooo what's this??</a></small>
  </body>
</html>

